<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>我的博客</title>
	<link rel="stylesheet" href="lib/bootstrap-3.3.7-dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/common.css">
</head>




<body>
  <nav class="navbar navbar-default navbar-fixed-top" id="kz-navbar">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand link" href="#">我的个人博客</a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a href="index.html">首页</span></a></li>
          <li class="active"><a href="list.html">评论/感悟<span class="sr-only">(current)</a></li>
          <li><a href="list.html">wangyiyun</a></li>
          <li><a href="list.html">学无止境</a></li>
          <li><a href="list.html">我的足迹</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container -->
  </nav>





  <div class="main">
    <div class="container">
      <div class="row">
        <div class="col-md-8">





          <div class="panel panel-default content-item">
            <div class="panel-heading">
              <h3 class="panel-title">
                <a href="detail.html" class="link" target="_blank">网易云 那些戳心窝的热评</a>
              </h3>
            </div>
            <div class="panel-body">
              你做过一次手术 就知道喝药根本算不上苦 你狠狠摔倒过 就知道擦破皮不值得哭 你被背叛过就知道吵两句嘴不伤真感情 希望你慢慢学会长大 希望你开始不在意受伤 希望你伤痕累累但依然闪闪发光
                
              <p style="margin-left:490px; ">——网易云音乐热评《不露声色》</p>
            </div>
            <div class="panel-footer">
              <span class="glyphicon glyphicon-user"></span>
              <span class="panel-footer-text text-muted">Wkk</span>
              <span class="glyphicon glyphicon-th-list"></span>
              <span class="panel-footer-text text-muted">wangyiyun</span>
              <span class="glyphicon glyphicon-time"></span>
              <span class="panel-footer-text text-muted">2019-07-30</span>
              <span class="glyphicon glyphicon-eye-open"></span>
              <span class="panel-footer-text text-muted"><em>999+</em>已阅读</span>
            </div>
          </div>








          <div class="panel panel-default content-item">
            <div class="panel-heading">
              <h3 class="panel-title">
                <a href="detail.html" class="link" target="_blank">网易云 那些戳心窝的热评</a>
              </h3>
            </div>
            <div class="panel-body">
              "春风十里"出自当代诗人冯唐的《春》。"春风十里"讲的大抵是十里的春风，也代指春天非常多的美景。原文：春水初生、春林初盛、春风十里，不如你。译文：春天刚涨起来的春水，春天刚吐露嫩芽的树木，以及十里的春风都很迷人，但始终都不如你。
              <p style="margin-left:450px; ">——网易云音乐热评《春风十里不如你》</p> 
            </div>
            <div class="panel-footer">
              <span class="glyphicon glyphicon-user"></span>
              <span class="panel-footer-text text-muted">Wkk</span>
              <span class="glyphicon glyphicon-th-list"></span>
              <span class="panel-footer-text text-muted">wangyiyun</span>
              <span class="glyphicon glyphicon-time"></span>
              <span class="panel-footer-text text-muted">2019-07-30</span>
              <span class="glyphicon glyphicon-eye-open"></span>
              <span class="panel-footer-text text-muted"><em>999+</em>已阅读</span>
            </div>
          </div> 





          <div class="panel panel-default content-item">
            <div class="panel-heading">
              <h3 class="panel-title">
                <a href="detail.html" class="link" target="_blank">网易云 那些戳心窝的热评</a>
              </h3>
            </div>
            <div class="panel-body">
              至尊宝想救紫霞，必须要打败牛魔王，要打败牛魔王，必须变成孙悟空，要变成孙悟空，必须忘掉七情六欲，从此与紫霞是陌路人。人生就是这样，想跟心爱的人在一起，想事业有成，而当你事业有成时，才发现再也找不回当初的自己和那份纯真的感情，只剩下一声叹息。


              <p style="margin-left:430px;">——网易云热评《当过去只剩下这一声叹息》</p>
            </div>
            <div class="panel-footer">
              <span class="glyphicon glyphicon-user"></span>
              <span class="panel-footer-text text-muted">Wkk</span>
              <span class="glyphicon glyphicon-th-list"></span>
              <span class="panel-footer-text text-muted">wangyiyun</span>
              <span class="glyphicon glyphicon-time"></span>
              <span class="panel-footer-text text-muted">2019-07-30</span>
              <span class="glyphicon glyphicon-eye-open"></span>
              <span class="panel-footer-text text-muted"><em>999+</em>已阅读</span>
            </div>
          </div>





          <nav aria-label="Page navigation" id="page">
            <ul class="pagination">
              <li>
                <a href="#" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                </a>
              </li>
              <li><a href="#">1</a></li>
              <li><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li><a href="#">4</a></li>
              <li><a href="#">5</a></li>
              <li>
                <a href="#" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                </a>
              </li>
            </ul>
          </nav>                                         
        </div>
        <div class="col-md-4 hidden-xs hidden-sm">
          <div class="ad">
            <a href="#" class="thumbnail">
              <img src="img/009.png" alt="广告1">
            </a>
          </div>
          <div class="ad">
            <a href="#" class="thumbnail">
              <img src="img/010.jpg" alt="广告2">
            </a>
          </div>
          <div class="panel panel-default custom-panel">
            <div class="panel-heading">
              <h3 class="panel-title">博主介绍</h3>
            </div>
            <div class="panel-body">
              <div class="media">
                <div class="media-left">
                  <a href="#">
                    <img class="media-object img-me img-circle" src="img/007.jpg" alt="博主帅照">
                  </a>
                </div>
                <div class="media-body">
                  <h4 class="media-heading">Wkk</h4>
                  95后草根！17年入行。一直潜心研究web技术，一边学习一边积累经验，分享一些个人心得。
                </div>
              </div>
            </div>
          </div>
          <div class="panel panel-default custom-panel hot-list">
            <div class="panel-heading">
              <h3 class="panel-title">点击排行</h3>
            </div>
            <div class="panel-body">
              <ul class="list-group">
                <li class="list-group-item"><a href="detail.html" class="link text-ellipsis" target="_blank">Cras justo odioCras justo odioCras justo odioCras justo odioCras justo odio</a></li>
                <li class="list-group-item"><a href="detail.html" class="link text-ellipsis" target="_blank">Cras justo odioCras justo odioCras justo odioCras justo odioCras justo odio</a></li>
                <li class="list-group-item"><a href="detail.html" class="link text-ellipsis" target="_blank">Cras justo odioCras justo odioCras justo odioCras justo odioCras justo odio</a></li>
                <li class="list-group-item"><a href="detail.html" class="link text-ellipsis" target="_blank">Cras justo odioCras justo odioCras justo odioCras justo odioCras justo odio</a></li>                                                
              </ul>     
            </div>
          </div>
          <div class="panel panel-default custom-panel">
            <div class="panel-heading">
              <h3 class="panel-title">关注我,为努力点赞.</h3>
            </div>
            <div class="panel-body">
              <img src="img/wechat.jpeg" class="img-responsive" alt="">
            </div>
          </div>                                         
        </div>
      </div>
    </div>
  </div>
  <footer>
    Blog Design by <a href="#">Kuazhu</a> <a href="#">豫ICP备11002373号-1</a>.
  </footer>


<script src="lib/jquery/jquery-1.12.4.min.js"></script>	
<script src="lib/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
</body>

</html>